---

---

<footer text-center my-10 text-zinc-500 space-x-5 md:space-x-8>
  <a href="" class="hover:underline"> Send us an email</a>
  <a
    href="https://twitter.com/ChestnutStudio"
    target="_blank"
    class="hover:underline"
    rel="nofollow noopener"
  >
    Follow us on X
  </a>
</footer>
